.tab {
  text-decoration: none;
  padding: 0px 10px;
  color: #fff;
  margin: 0px;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.textfieald {
  display: flex;
  align-content: center;
  justify-content: center;
}
.bookingservice {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  display: flex;
  color: #404040;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.zoom-in-out-box {
  margin: 20px;
  width: 20px;
  height: 20px;
  animation: zoom-in-zoom-out 5s ease infinite;
}
.zoom-in-out-box.Box {
  width: 100%;
}
.Heading {
  color: "#404040";
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;}

.textfiealdstyle {
  display: flex;
  flex-direction: row;
  padding: 23px 42px 18px 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #9b9b9b;
  position: relative;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.back {
  background: #214758;
}
.cm-input input.mui-focused {
  border-color: red;
  border-radius: 1;
}
.changepass {
  margin: top 20px;
}
.date {
  width: 315px;
  position: relative;
}
@media only screen and (min-width: 400px) {
  .Title {
    display: flex;
    color: #404040;
    size: 4px;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  .zoom-in-out-box {
    margin: 0px;
    width: 20px;
    height: 20px;
    animation: zoom-in-zoom-out 5s ease infinite;
  }
  .zoom-in-out-box .Box {
    width: 100%;
  }
  .Heading {
    color: "#404040";
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
   
  }
  .text{
    width:250px;
  }
}
.text{
  width:250px;
}