.tab {
  text-decoration: none;
  margin: 20;
  color: #fff;
  font-style: normal;
}
.textfieald {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Title {
  display: flex;
  color: #404040;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.zoom-in-out-box {
  margin: 20px;
  width: 20px;
  height: 20px;
  animation: zoom-in-zoom-out 5s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
